*.env
*.log*
node_modules
.DS_Store
dotfiles/.config/gtk-3.0/bookmarks
history.txt
dotfiles/.config/helix/runtime
dotfiles/.config/fish/fish_variables
*.lock
dotfiles/.config/.wrangler
dotfiles/.config/incus/
dotfiles/.config/rclone/
dotfiles/.config/brinkervii/
dotfiles/.config/configstore
dotfiles/.config/chromium
dotfiles/.config/VencordDesktop/
dotfiles/.config/go/
dotfiles/.config/jgit/
dotfiles/.config/pulse
