* {
	border: none;
	border-radius: 0.5rem;
	font-family: "JetBrainsMono Nerd Font", monospace;
	font-size: 1rem;
	min-height: 2.5rem;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-date,
#idle_inhibitor {
	padding: 0 0.5rem;
	margin: 0 0.25rem;
}

window#waybar {
	background: transparent;
}

window > box {
	margin: 0.5rem;
}

#window {
	color: transparent;
	background: transparent;
}

#network {
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	color: #1a1826;
	background: #fae3b0;
}

#battery {
	color: #161320;
	background: #b5e8e0;
}

#battery.charging,
#battery.plugged {
	color: #161320;
	background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
	background-color: #b5e8e0;
	color: #161320;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #bf616a;
		color: #b5e8e0;
	}
}

#backlight {
	color: #161320;
	background: #f8bd96;
}
#clock {
	color: #161320;
	background: #abe9b3;
}

#memory {
	color: #161320;
	background: #ddb6f2;
}
#cpu {
	color: #161320;
	background: #96cdfb;
}

#tray {
	color: #b5e8e0;
	background: #161320;
}

#custom-launcher {
	color: #89dceb;
	background: #161320;
}

#custom-power {
	background: #f28fad;
}

#custom-wallpaper {
	color: #161320;
	background: #c9cbff;
}

#custom-updates {
	color: #161320;
	background: #e8a2af;
}

#custom-media {
	color: #161320;
	background: #f2cdcd;
}
